@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: bold;
  src: local("Syne-Bold"),
    url("/fonts/Syne-Bold.woff2") format("woff2") /* will be preloaded */,
    url("/fonts/Syne-Bold.woff") format("woff"),
    url("/fonts/Syne-Bold.ttf") format("truetype"),
    url("/fonts/Syne-Bold.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Basier";
  font-style: normal;
  font-weight: 400;
  src: local("basiersquare-regular-webfont"),
    url("/fonts/basiersquare-regular-webfont.woff2") format("woff2")
      /* will be preloaded */,
    url("/fonts/basiersquare-regular-webfont.woff") format("woff"),
    url("/fonts/basiersquare-regular-webfont.ttf") format("truetype"),
    url("/fonts/basiersquare-regular-webfont.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

/**
**TABLE OF CONTENTS**
1-Variables
2-Normalize
2b-Media Query Breakpoints
3-Element Defaults & Hidden Defaults
4-Layouts & Alignment
5-Typography
6-Modules
7-Page Specifics
**/

/*! 1 - Variables Begin**/
$dark1: #2d2824;
$dark2: #211d1a;

$light1: #faf7f6;
$light2: #f6f2f0;
$light3: #eae4e2;
$light4: #ddd4d0;
$light5: #d7ccc8;

$medium1: #826b64;
$medium2: #55372e;

$accent: #ab5033;

$whatsapp: rgba(37, 211, 102, 0.7);
$facebook: linear-gradient(
  90deg,
  rgba(0, 163, 255, 0.7) 0%,
  rgba(0, 147, 254, 0.7) 47.92%,
  rgba(2, 136, 255, 0.7) 100%
);
$instagram: linear-gradient(
  90deg,
  rgba(252, 155, 24, 0.7) 0%,
  rgba(245, 12, 2, 0.7) 47.92%,
  rgba(204, 0, 121, 0.7) 100%
);

$main: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$serif: Baskervville, "Palatino Linotype", Palatino, Palladio, "URW Palladio L",
  "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter",
  "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow",
  "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
  Georgia, serif;

$left-right-padding-mobile: 15%;
$left-right-header-footer-padding-mobile: 4%;
$left-right-header-footer-padding-desktop: 3.125%;

/*! 1 - Variables End**/

/*! 2 - Normalize Begins**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark1;
}

/*! 2 - Normalize Ends**/

/*! 2b - Media Query Breakpoints Begin**/
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-intermediate-screens {
  @media (min-width: 900px) and (max-width: 1154px) {
    @content;
  }
}
/*! 2b - Media Query Breakpoints End Defaults Begin**/

/*! 3 - Defaults Begin**/
html {
  background-color: $light3;
  @include for-intermediate-screens() {
    font-size: 86%;
  }
}

/** Defualt scrollbar styling **/
.body-wrap {
  * {
    //* scrollbar styling begins
    ::-webkit-scrollbar {
      height: 6px;
      width: 10px;
      background-color: $light1;
    }

    ::-webkit-scrollbar-track {
      background-color: $light1;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $dark1;
    }
    //* scrollbar styling ends
  }
}

.hide-by-default,
.hide {
  display: none;
}

.mobile-only {
  @include for-tablet-landscape-up {
    display: none;
  }
}

.desktop-only {
  @include for-tablet-landscape-down {
    display: none;
  }
}

.push-below-header {
  margin-top: 5.488rem;

  @include for-intermediate-screens {
    margin-top: 5.25rem;
  }
}
/*! 3 - Defaults End**/

/*! 4 - Layout & Alignment Begins**/
.display-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }
}

.display-grid {
  display: grid;
}

.half-half-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include for-tablet-landscape-up {
    flex-direction: row;

    & > .first-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }

    & > .second-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }
  }
}

.quad-grid-layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;

  @include for-tablet-landscape-up {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.vertically-center-content {
  display: flex;
  align-items: center;

  &.flex-column {
    flex-direction: column;
  }
}

.horizontally-center-content {
  display: flex;
  justify-content: center;

  &.flex-column {
    flex-direction: column;
  }
}

.center-align-text {
  text-align: center;
}
/*! 4 - Layout & Alignment Ends**/

/*! 5 - Typography Begins**/
.heading-level-1 {
  font-size: 2.15rem;
  font-family: $heading;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  line-height: 109.5%;

  .home-main-text-s {
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: normal;
    display: block;
  }
}

.heading-level-2 {
  font-size: 1.5rem;
  font-family: $heading;
  letter-spacing: -0.025em;
  text-transform: uppercase;

  @include for-tablet-landscape-up {
    font-size: 2.2625rem;
  }

  .heading-level2-big {
    display: block;
  }

  .paragraph {
    display: block;
    font-weight: normal;
  }
}

p,
.paragraph {
  font-size: 0.9rem;
  font-family: $main;
  text-transform: none;

  @include for-tablet-landscape-up {
    font-size: 1.1rem;
  }
}
/*! 5 - Typography Ends**/

/*! 6 - Modules Begin**/
/** Small Modules**/
.regular-button {
  font-size: 0.877rem;
  font-family: $main;
  text-transform: capitalize;
  text-decoration: none;
  color: $light2;
  background-color: $dark1;
  padding: 1.05rem 1.55rem;

  &:hover {
    cursor: pointer;
  }

  &.orange-regular-button {
    background-color: $accent;
  }
  &.light-regular-button {
    background-color: $light2;
    color: $dark1;
  }

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
  }
}

.regular-input {
  font-size: 0.877rem;
  font-family: $main;
  padding: 1.05rem 1.55rem;
  background-color: $light1;
  border: 0;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
    padding-left: 1.5rem;
  }
}

.link-button {
  font-family: $heading;
  font-size: 0.75rem;
  color: $accent;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid $accent;
  padding-bottom: 0.313rem;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
  }
}

.link-arrow-button {
  text-decoration: none;
  .link-arrow-button-text {
    font-size: 1rem;
    margin-right: 10px;
    text-transform: capitalize;

    &.syne {
      font-family: $heading;
      text-transform: uppercase;
    }
  }
  .link-arrow-button-icon {
    height: 17px;
    width: 17px;

    path {
      stroke: $dark1;
      stroke-width: 5;
    }
  }
}

/** Large Modules**/

/** Header Begins **/
.header {
  padding: 1rem $left-right-header-footer-padding-mobile;
  justify-content: space-between;
  background-color: $light3;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $light5;

  @include for-tablet-landscape-up {
    padding: 1.1rem $left-right-header-footer-padding-desktop;
  }
}

.mobile-nav {
  position: relative;

  &.mobile-only {
    @include for-tablet-landscape-up {
      display: none;
    }
  }
}

.mobile-nav-check {
  background-color: yellow;
  display: block;
  height: 27px;
  width: 47px;
  z-index: 10;
  opacity: 0;
}

.mobile-nav-icon-svg {
  position: absolute;
}

.mobile-nav-lists-container {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: $light3;
  border-top: 1px solid $light5;
  width: 100%;
  text-align: center;
  z-index: 10;

  /**height of header used to push menu down**/
  margin-top: 87.8px;
}

/** Additional div wrapper added to make fixed parent scrollable **/
.mobile-nav-list-innerwrapper {
  overflow-y: auto;
  height: 100%;
}

/** Dynamic behaviour of hamburger **/
.mobile-nav-check:checked ~ .mobile-nav-lists-container {
  display: block;
}

.mobile-nav-check:checked ~ .hamburger-icon {
  display: none;
}

.mobile-nav-check ~ .hamburger-icon {
  display: block;
}

.mobile-nav-check:checked ~ .close-hamburger-icon {
  display: block;
}

.mobile-nav-list {
  padding-top: 2.6rem;
}

.mobile-nav-list-last {
  padding-bottom: 2.6rem;
}

.mobile-nav-footer {
  padding: 1.7rem 0;
  border-top: 1px solid $light5;
  border-bottom: 1px solid $light5;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 1.7rem;
}

.mobile-nav-list-item,
.mobile-nav-footer-item {
  list-style-position: inside;
  list-style-type: none;
}

.mobile-nav-list-item {
  padding-top: 1.125rem;

  &.heading {
    padding-top: 0;
  }
}

.mobile-nav-item-link,
.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  text-decoration: none;
}

.mobile-nav-item-link {
  font-family: $main;
  font-size: 0.95rem;
}

.mobile-nav-item-link-header {
  font-size: 1.125rem;
}

.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  font-family: $heading;
  text-transform: uppercase;
}

.mobile-nav-footer-link {
  opacity: 0.7;
  font-size: 0.95rem;
}

.logo-text-svg {
  margin-top: 0.3rem;

  @include for-tablet-landscape-down {
    width: 9rem;
  }
}

.cart-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.cart-count {
  padding: 0.04rem 0.313rem;
  border-radius: 50%;
  background-color: $accent;
  color: $light2;
  margin-left: 0.1em;
}

.desktop-nav-list {
  list-style: none;
}

.desktop-nav-list-item {
  margin-right: 1.7rem;

  &.no-margin {
    margin-right: 0;
  }
}

.desktop-nav-link {
  text-decoration: none;
  font-family: $main;
  font-size: 1.1rem;
}

.desktop-right-nav {
  padding-left: 2.5rem;
}
/** Header Ends **/

/** Product Card Begins **/
.products-with-arrows {
  width: 100%;
  padding-left: 8%;

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 2.34%;
    padding-left: 0;

    .left-arrow-button,
    .right-arrow-button {
      opacity: 0;
    }

    &:hover {
      .left-arrow-button,
      .right-arrow-button {
        opacity: 1;
      }
    }
  }
}

.products-without-arrows {
  width: 100%;
  overflow: auto;

  @include for-tablet-landscape-up {
    padding-bottom: 3rem;
  }
}

.full-product-card {
  margin-right: 4%;
  cursor: pointer;

  &:last-child {
    padding-right: 8%;
    margin-right: 0;

    @include for-tablet-landscape-up {
      padding-right: 0;
    }
  }
}

.product-card-link {
  text-decoration: none;
}

.product-bg {
  width: 15.625rem;
  height: 16.26rem;
  background-color: $light3;
  transition: all 1s ease;

  &:hover {
    background-color: $light4;
  }

  @include for-tablet-landscape-up {
    width: 20rem;
    height: 20.813rem;
  }
}

.product-image {
  max-height: 80%;
  max-width: 80%;
}

.product-name,
.product-price {
  text-align: center;

  @include for-tablet-landscape-up {
    font-size: 1.1rem;
  }
}

.product-name {
  margin-top: 0.928rem;
}

.product-price {
  margin-top: 0.625rem;
  color: $medium1;
}

.left-arrow-button,
.right-arrow-button {
  height: 6.5rem;
  width: 5rem;
  background-color: $light5;
  border: 0;
  cursor: pointer;
  transform: translateY(-60px);
  transition: all 0.5s ease;
  // visibility: hidden;

  &:hover {
    background-color: $dark1;
  }
}

.left-arrow-button-icon,
.right-arrow-button-icon {
  * {
    stroke: $medium1;
  }
}
/** Product Card Ends **/

/** Footer Begins **/
.footer {
  background-color: $light3;
  text-align: center;

  @include for-tablet-landscape-up {
    width: 100%;
    text-align: left;
    display: flex;
  }
}

.footer-newsletter-and-links {
  padding: 0 $left-right-padding-mobile;
  padding-top: 5rem;

  @include for-tablet-landscape-up {
    padding: 7.5em 0 7.5em 3.75rem;
    width: 70%;
  }
}

.footer-newsletter-nudge {
  @include for-tablet-landscape-up {
    width: 39rem;
  }
  .heading-level-3 {
    font-family: $heading;
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 109.5%;

    @include for-tablet-landscape-up {
      font-size: 1.831rem;
    }
  }

  .paragraph {
    opacity: 0.7;
    margin: 1rem 0;
    font-size: 0.8rem;
    line-height: 176.5%;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
    }
  }
}

.subscribe-input-button-container.display-flex {
  @include for-tablet-landscape-up {
    flex-direction: row;
    width: 100%;
  }
}

.footer-subscribe-input,
.footer-subscribe-button {
  align-self: center;

  @include for-tablet-landscape-up {
    align-self: flex-start;
  }
}

.footer-subscribe-input {
  @include for-tablet-landscape-up {
    width: 60%;
    text-align: left;
  }
}

.footer-subscribe-button {
  margin-top: 1rem;

  @include for-tablet-landscape-up {
    margin: 0;
    width: 35%;
  }
}

.footer-links-container {
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  row-gap: 3rem;
  justify-content: center;
  margin: 5rem 0;

  @include for-tablet-landscape-up {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
    margin-top: 7.5rem;
    justify-content: left;
    column-gap: 4.5rem;
  }
}

.footer-links-group {
  li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 0.8rem;

    @include for-tablet-landscape-up {
      margin-bottom: 0.938rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-link-heading,
.footer-link,
.social-link {
  font-family: $main;
  list-style-type: none;
  text-decoration: none;
}

.footer-link-heading {
  opacity: 0.5;
  font-size: 1.1rem;

  @include for-tablet-landscape-up {
    font-size: 1.375rem;
  }
}

.footer-link {
  font-size: 0.95rem;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
  }
}

.social-links-container {
  transform: translateX(-7px);
}

.social-svg {
  height: 1.7rem;
}

.social-link {
  margin-right: 0.4em;

  &:last-child {
    margin-right: 0;
  }
}

.footer-site-credits {
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  @include for-tablet-landscape-up {
    width: 30%;
    grid-template-columns: 85% 10% 5%;
    grid-template-rows: auto;
  }
}

.footer-site-credits-no-decor {
  padding: 3.438rem $left-right-header-footer-padding-mobile;
  background-color: $light5;
  color: $light1;

  @include for-tablet-landscape-up {
    padding: 0;
    padding-bottom: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }
}

.footer-logo-icon {
  height: 3.125rem;
  width: 3.125rem;

  @include for-tablet-landscape-up {
    height: 4.375rem;
    width: 4.375rem;
  }
}

.footer-credit-text {
  font-family: $main;
  color: $light1;
  font-size: 0.85rem;
  line-height: 185%;

  @include for-tablet-landscape-up {
    font-size: 1rem;
  }
}

.footer-credit-1 {
  margin-top: 1.563rem;
}

.footer-credit-4 {
  display: block;
}

.footer-decor-div-1 {
  height: 2.188rem;
  background-color: $medium1;
  opacity: 0.6;

  @include for-tablet-landscape-up {
    height: 100%;
  }
}

.footer-decor-div-2 {
  height: 0.938rem;
  background-color: $medium1;

  @include for-tablet-landscape-up {
    height: 100%;
  }
}
/** Footer Ends **/

/*! 6 - Modules End**/

/*! 7 - Page Specifics Begin**/

/** Landing Page Begins **/
.hero {
  background-color: $light5;
}

.hero-text {
  height: 22rem;
  background-color: $light5;
  .regular-button {
    margin-top: 2.5rem;

    @include for-tablet-landscape-up {
      margin-top: 3.125rem;
    }
  }
}

.home-main-text {
  width: 280px;

  @include for-tablet-landscape-up {
    width: 388px;
  }

  .home-main-text-s {
    // @media (min-width: 1154px) {
    //   font-size: 1.35rem;
    //   margin-bottom: 1rem;
    // }

    @include for-tablet-landscape-up {
      font-size: 1.35rem;
      margin-bottom: 1rem;
    }

    @include for-intermediate-screens {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }
  }

  .home-main-text-l {
    // @media (min-width: 1154px) {
    //   font-size: 2.95rem;
    // }

    @include for-tablet-landscape-up {
      font-size: 2.95rem;
    }

    @include for-intermediate-screens {
      font-size: 2.55rem;
    }
  }
}

.hero-image {
  width: 100%;
}

.scroll-and-story-nudge {
  background-color: $light4;
  position: relative;
}

.scroll-nudge {
  position: absolute;
  right: 2.5rem;
  top: 1.25rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.scroll-text {
  font-size: 1.1rem;
  margin-bottom: 0.688rem;
}

.story-nudge {
  padding: 4.813rem 0;
  background-color: $light3;
  border-bottom: 1px solid $light4;

  @include for-tablet-landscape-up {
    padding: 6.5rem 0;
  }
}

.story-nudge-text {
  line-height: 188%;
  font-size: 0.95rem;
  padding: 0 9.1%;

  @include for-tablet-landscape-up {
    font-size: 1.25rem;
    padding: 0 14.8%;
  }
}

.story-nudge-button {
  margin-top: 1.563rem;

  @include for-tablet-landscape-up {
    margin-top: 2.375rem;
    font-size: 1rem;
  }
}

.popular-products-section {
  background-color: $light3;
  padding: 5.313rem 0;

  @include for-tablet-landscape-up {
    padding: 5.6rem 0;
  }
}

.popular-today-heading {
  margin-bottom: 1.875rem;

  @include for-tablet-landscape-up {
    margin-bottom: 2.938rem;
  }
}

.see-all-button {
  margin-top: 3.125rem;
  align-self: center;

  @include for-tablet-landscape-up {
    margin-top: 4rem;
  }
}

.discover-categories-section {
  width: 100%;
  background-color: $light4;
  padding: 7rem 0;
}

.discover-categories-heading {
  width: 12.75rem;
  margin: auto;

  @include for-tablet-landscape-up {
    width: 35.5rem;
  }

  .paragraph {
    margin-bottom: 0.625rem;
    letter-spacing: normal;
  }

  .heading-level2-big {
    font-size: 1.8rem;

    @include for-tablet-landscape-up {
      font-size: 2.625rem;
    }
  }
}

.category-details-container {
  margin: auto 13.333%;

  @include for-tablet-landscape-up {
    margin: 0 $left-right-header-footer-padding-desktop;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    column-gap: 5rem;

    & > div {
      padding-top: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.home-product-category {
  margin-top: 4rem;
  display: block;
  text-decoration: none;
  cursor: pointer;

  @include for-tablet-landscape-up {
    margin-top: 0;
  }
}

.category-title {
  font-size: 1.5rem;
  font-family: $main;
  font-family: $heading;
  font-weight: normal;
  margin-bottom: 1rem;
  align-self: center;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.3rem;
}

.category-image-wrapper {
  display: inline-block;
  overflow: hidden;
}

.category-image {
  width: 100%;

  transition: all ease 0.5s;

  &:hover {
    transform: scale(1.039);
    cursor: url("images/click-to-shop-cursor.png"), pointer;
  }
}

.category-cta {
  margin-top: 1rem;

  &.multidimensional-category-cta {
    display: block;
  }
}

.category-cta-text.link-arrow-button-text {
  @include for-tablet-landscape-up {
    font-size: 1.2rem;
  }
}

/** multidimensional arrow is not flexed. following transform is used to position it **/
.multidimensional-category-arrow {
  transform: translateY(3.5px);
  z-index: 1;
}

.category-description {
  margin-top: 0.8rem;
  opacity: 0.7;
  line-height: 176.5%;
  font-size: 0.8rem;

  @include for-tablet-landscape-up {
    font-size: 1.1rem;
    color: $medium2;
  }
}

.category-cta,
.category-image,
.category-description {
  @include for-tablet-landscape-up {
    width: 37vw;
  }
}

.bespoke-section-header.dark-bg-header {
  background-color: $dark1;
  padding: 4.25rem $left-right-padding-mobile;

  .bespoke-section-header-text,
  .bespoke-section-header-description {
    color: $light3;
  }

  @include for-tablet-landscape-up {
    padding: 2.4rem 4.5%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.bespoke-section-header-text {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  line-height: 160%;

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.bespoke-section-header-description {
  line-height: 160%;

  @include for-tablet-landscape-up {
    line-height: 149%;
    font-size: 1.35rem;
  }
}

.home-bespoke-half {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  @include for-tablet-landscape-up {
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
}

.home-bespoke-text.full-width {
  padding: 4rem $left-right-padding-mobile;
  background-color: $light1;

  @include for-tablet-landscape-up {
    padding: 4rem $left-right-padding-mobile;
    width: 100%;
  }

  .bespoke-product-heading-big,
  .paragraph {
    font-weight: normal;
  }

  .paragraph {
    font-size: 0.875rem;
    opacity: 0.7;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
    }
  }
}

.home-staircases-text {
  grid-row: 2/3;

  @include for-tablet-landscape-up {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: right;

    .bespoke-button {
      align-self: flex-end;
    }
  }
}

.bespoke-product-heading {
  font-family: $main;
}

.bespoke-product-heading-big {
  display: block;
  margin-bottom: 0.5rem;

  @include for-tablet-landscape-up {
    font-size: 1.77rem;
    margin-bottom: 1.25rem;
  }
}

.home-staircases-image {
  grid-row: 1/2;
}

.home-bespoke-image.full-width {
  width: 100%;
}

.bespoke-button {
  align-self: flex-start;
  margin-top: 1.9rem;

  @include for-tablet-landscape-up {
    @include for-tablet-landscape-up {
      margin-top: 2.938em;
    }
  }
}

.home-review-quote-section {
  background-color: $accent;
  padding: 4.688rem $left-right-padding-mobile;

  @include for-tablet-landscape-up {
    padding: 8rem 10%;
  }
}

.home-review-quote,
.home-review-person {
  color: $light1;
}

.home-review-quote {
  font-size: 1.25rem;
  font-family: $main;
  font-weight: normal;
  line-height: 156%;
  margin-bottom: 2.25rem;
  display: block;

  @include for-tablet-landscape-up {
    font-size: 2.25rem;
    line-height: 163%;
    margin-bottom: 5rem;
  }
}

.home-review-person {
  font-family: $heading;
  text-transform: uppercase;
  font-size: 0.875rem;

  @include for-tablet-landscape-up {
    font-size: 1.375rem;
  }
}

.home-services-section {
  background-color: $light4;

  @include for-tablet-landscape-up {
    display: flex;
    padding: 10rem 0;
  }
}

.home-services-header {
  padding: 6.125rem 13.6% 6.125rem;

  @include for-tablet-landscape-up {
    padding: 6.125rem 8% 6.125rem;
    padding-left: 3.5%;
    /** extra padding added to bottom to make it match services container**/
    padding-bottom: 8rem;
  }

  .paragraph {
    font-weight: normal;
    letter-spacing: normal;
    line-height: 176.5%;
    opacity: 0.7;
    margin: 0.6rem 0 1.5rem;

    @include for-tablet-landscape-up {
      margin: 0.6rem 0 3rem;
    }
  }

  .heading-level2-big {
    font-size: 1.8rem;

    @include for-tablet-landscape-up {
      font-size: 2.625rem;
    }
  }

  .regular-button {
    align-self: center;
  }
}

.services-cards-with-arrows {
  padding-left: 8%;
  width: 100%;
  /** extra padding added to bottom to push scrollbar down**/
  padding-bottom: 6.125rem;

  @include for-tablet-landscape-up {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
  }

  .arrow-button {
    grid-row: 1/2;
    grid-column: 1/2;
    transform: translateY(-30px);
    background-color: $light4;
    border: solid 1px $light5;
    opacity: 0;

    &:hover {
      background-color: $dark1;
      border: 0;
    }

    &.left-arrow-button {
      margin-left: 10px;
    }

    &.right-arrow-button {
      justify-self: right;
      margin-right: 10px;
    }
  }

  &:hover {
    .arrow-button {
      opacity: 1;
    }
  }
}

.services-cards-container {
  width: 100%;
  overflow: auto;

  @include for-tablet-landscape-up {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 1.875rem;
  }
}

.home-service-card {
  margin-right: 1.5rem;

  &:last-child {
    padding-right: 8%;
  }

  @include for-tablet-landscape-up {
    margin-right: 3.75rem;
  }
}

.service-title {
  font-family: $main;
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;

  @include for-tablet-landscape-up {
    font-size: 1.6rem;
    font-size: 1.5rem;
    // font-family: $main;
    // font-family: $heading;
  }
}

.service-image {
  width: 15rem;

  @include for-tablet-landscape-up {
    width: 29rem;
  }
}

.service-description {
  font-size: 0.75rem;
  line-height: 176.5%;
  margin-top: 0.813rem;

  @include for-tablet-landscape-up {
    font-size: 1.05rem;
  }
}

.home-projects-nudge-image {
  width: 100%;
}

.home-projects-nudge-text {
  line-height: 109.5%;
  font-size: 1.5rem;
  padding: 6.25rem $left-right-padding-mobile;
  background-color: $dark1;

  @include for-tablet-landscape-up {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
  }

  .heading-level2-big,
  .paragraph {
    color: $light3;
  }

  .heading-level2-big {
    margin-bottom: 1.25rem;
    line-height: 109.5%;

    @include for-tablet-landscape-up {
      font-size: 2rem;
      margin-bottom: 1.875rem;
    }
  }

  .paragraph {
    letter-spacing: normal;
    font-size: 0.938rem;
    line-height: 176.5%;
    margin-bottom: 3.125rem;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
      margin-bottom: 5.5rem;
      // width: 80%;
    }
  }
}
/** Landing Page Ends**/

/*! 7 - Page Specifics End**/
