@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: bold;
  src: local("Syne-Bold"), url("fonts/Syne-Bold.woff2") format("woff2"), url("fonts/Syne-Bold.woff") format("woff"), url("fonts/Syne-Bold.ttf") format("truetype"), url("fonts/Syne-Bold.eot") format("embedded-opentype");
  unicode-range: U+000-5FF;
  /* Latin glyphs */
}

@font-face {
  font-family: "Basier";
  font-style: normal;
  font-weight: 400;
  src: local("basiersquare-regular-webfont"), url("fonts/basiersquare-regular-webfont.woff2") format("woff2"), url("fonts/basiersquare-regular-webfont.woff") format("woff"), url("fonts/basiersquare-regular-webfont.ttf") format("truetype"), url("fonts/basiersquare-regular-webfont.eot") format("embedded-opentype");
  unicode-range: U+000-5FF;
  /* Latin glyphs */
}

/**
**TABLE OF CONTENTS**
1-Variables
2-Normalize
2b-Media Query Breakpoints
3-Element Defaults & Hidden Defaults
4-Layouts & Alignment
5-Typography
6-Modules
7-Page Specifics
**/
/*! 1 - Variables Begin**/
/*! 1 - Variables End**/
/*! 2 - Normalize Begins**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #332d29;
}

/*! 2 - Normalize Ends**/
/*! 2b - Media Query Breakpoints Begin**/
/*! 2b - Media Query Breakpoints End Defaults Begin**/
/*! 3 - Defaults Begin**/
html {
  background-color: #eae4e2;
}

@media (min-width: 900px) and (max-width: 1154px) {
  html {
    font-size: 86%;
  }
}

a:hover {
  color: #ab5033;
}

/** Defualt scrollbar styling **/
.body-wrap * ::-webkit-scrollbar {
  height: 4.5px;
  width: 10px;
  background-color: #ffffff;
}

.body-wrap * ::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.body-wrap * ::-webkit-scrollbar-thumb {
  background-color: #826b64;
}

.hide-by-default,
.hide {
  display: none;
}

@media (min-width: 900px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 899px) {
  .desktop-only {
    display: none;
  }
}

.push-below-header {
  margin-top: 5.488rem;
}

@media (min-width: 900px) {
  .push-below-header {
    margin-top: 5.688rem;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .push-below-header {
    margin-top: 5.25rem;
  }
}

.transparent-bg {
  background-color: transparent;
}

.full-width {
  width: 100%;
}

/*! 3 - Defaults End**/
/*! 4 - Layout & Alignment Begins**/
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-flex.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}

.half-half-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 900px) {
  .half-half-layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .half-half-layout > .first-half {
    width: 50%;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .half-half-layout > .second-half {
    width: 50%;
  }
}

.quad-grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

@media (min-width: 900px) {
  .quad-grid-layout {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.vertically-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertically-center-content.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.horizontally-center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.horizontally-center-content.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-align-text {
  text-align: center;
}

/*! 4 - Layout & Alignment Ends**/
/*! 5 - Typography Begins**/
.heading-giant {
  font-family: Baskervville, "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-weight: normal;
  text-align: center;
  font-size: 5.375rem;
  letter-spacing: -0.05em;
  line-height: 96.3%;
}

@media (min-width: 900px) {
  .heading-giant {
    font-size: 10rem;
  }
}

.heading-level-1 {
  font-size: 2.15rem;
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  line-height: 109.5%;
}

@media (min-width: 900px) {
  .heading-level-1 {
    font-size: 2.95rem;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .heading-level-1 {
    font-size: 2.55rem;
  }
}

.heading-level-1 .home-main-text-s {
  font-size: 0.9rem;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: normal;
  display: block;
}

.heading-level-2 {
  font-size: 1.5rem;
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .heading-level-2 {
    font-size: 2.2625rem;
  }
}

.heading-level-2 .heading-level2-big {
  display: block;
}

.heading-level-2 .paragraph {
  display: block;
  font-weight: normal;
}

.heading-level-small {
  font-size: 1.1rem;
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .heading-level-small {
    font-size: 1.875rem;
  }
}

p,
.paragraph {
  font-size: 0.9rem;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: none;
  line-height: 188%;
}

@media (min-width: 900px) {
  p,
  .paragraph {
    font-size: 1.1rem;
  }
}

/*! 5 - Typography Ends**/
/*! 6 - Modules Begin**/
/** Small Modules**/
.regular-button {
  font-size: 0.877rem;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: capitalize;
  text-decoration: none;
  color: #f6f2f0;
  background-color: #332d29;
  padding: 1.05rem 1.55rem;
}

.regular-button:hover {
  cursor: pointer;
  color: #f6f2f0;
}

.regular-button.orange-regular-button {
  background-color: #ab5033;
}

.regular-button.light-regular-button {
  background-color: #f6f2f0;
  color: #332d29;
}

@media (min-width: 900px) {
  .regular-button {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
  }
}

.regular-input {
  font-size: 0.877rem;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1.05rem 1.55rem;
  background-color: #faf7f6;
  border: 0;
}

@media (min-width: 900px) {
  .regular-input {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
    padding-left: 1.5rem;
  }
}

.link-button {
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.75rem;
  color: #ab5033;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #ab5033;
  padding-bottom: 0.313rem;
}

@media (min-width: 900px) {
  .link-button {
    font-size: 1.125rem;
  }
}

.link-arrow-button {
  text-decoration: none;
}

.link-arrow-button .link-arrow-button-text {
  font-size: 1rem;
  margin-right: 10px;
  text-transform: capitalize;
}

.link-arrow-button .link-arrow-button-text.syne {
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
}

.link-arrow-button .link-arrow-button-icon {
  height: 17px;
  width: 17px;
}

.link-arrow-button .link-arrow-button-icon path {
  stroke: #332d29;
  stroke-width: 5;
}

.blob {
  position: absolute;
  width: 80vw;
  -webkit-animation: blobAnimation 40s linear infinite alternate;
          animation: blobAnimation 40s linear infinite alternate;
}

@-webkit-keyframes blobAnimation {
  0% {
    width: 150vw;
  }
  50% {
    width: 70vw;
  }
  100% {
    width: 150vw;
  }
}

@keyframes blobAnimation {
  0% {
    width: 150vw;
  }
  50% {
    width: 70vw;
  }
  100% {
    width: 150vw;
  }
}

/** Large Modules**/
/** Header Begins **/
.header {
  padding: 1rem 4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eae4e2;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #d7ccc8;
  /** Resets transparency setting **/
}

.header.tranparent-bg {
  background-color: transparent;
}

@media (min-width: 900px) {
  .header {
    padding: 1.1rem 3.125%;
  }
}

.mobile-nav {
  position: relative;
}

@media (min-width: 900px) {
  .mobile-nav.mobile-only {
    display: none;
  }
}

.mobile-nav-check {
  display: block;
  height: 27px;
  width: 47px;
  z-index: 10;
  opacity: 0;
}

.mobile-nav-icon-svg {
  position: absolute;
}

.mobile-nav-lists-container {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #eae4e2;
  border-top: 1px solid #d7ccc8;
  width: 100%;
  text-align: center;
  z-index: 10;
  /**height of header used to push menu down**/
  margin-top: 87.8px;
}

/** Additional div wrapper added to make fixed parent scrollable **/
.mobile-nav-list-innerwrapper {
  overflow-y: auto;
  height: 100%;
}

/** Dynamic behaviour of hamburger **/
.mobile-nav-check:checked ~ .mobile-nav-lists-container {
  display: block;
}

.mobile-nav-check:checked ~ .hamburger-icon {
  display: none;
}

.mobile-nav-check ~ .hamburger-icon {
  display: block;
}

.mobile-nav-check:checked ~ .close-hamburger-icon {
  display: block;
}

.mobile-nav-list {
  padding-top: 2.6rem;
}

.mobile-nav-list-last {
  padding-bottom: 2.6rem;
}

.mobile-nav-footer {
  padding: 1.7rem 0;
  border-top: 1px solid #d7ccc8;
  border-bottom: 1px solid #d7ccc8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 1.7rem;
}

.mobile-nav-list-item,
.mobile-nav-footer-item {
  list-style-position: inside;
  list-style-type: none;
}

.mobile-nav-list-item {
  padding-top: 1.125rem;
}

.mobile-nav-list-item.heading {
  padding-top: 0;
}

.mobile-nav-item-link,
.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  text-decoration: none;
}

.mobile-nav-item-link {
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.95rem;
}

.mobile-nav-item-link-header {
  font-size: 1.125rem;
}

.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
}

.mobile-nav-footer-link {
  opacity: 0.7;
  font-size: 0.95rem;
}

.logo-text-svg {
  margin-top: 0.3rem;
}

@media (min-width: 900px) and (max-width: 1154px) {
  .logo-text-svg {
    width: 11rem;
  }
}

@media (max-width: 899px) {
  .logo-text-svg {
    width: 9rem;
  }
}

.cart-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.cart-count {
  padding: 0.04rem 0.313rem;
  border-radius: 50%;
  background-color: #ab5033;
  color: #f6f2f0;
  margin-left: 0.1em;
}

.desktop-nav-list {
  list-style: none;
}

.desktop-nav-list-item {
  margin-right: 1.7rem;
}

.desktop-nav-list-item.no-margin {
  margin-right: 0;
}

.desktop-nav-link {
  text-decoration: none;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1rem;
}

.desktop-right-nav {
  padding-left: 2.5rem;
}

/** Header Ends **/
/** Product Card(s) Begin(s) **/
.products-with-arrows {
  width: 100%;
  padding-left: 8%;
}

@media (min-width: 900px) {
  .products-with-arrows {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2.34%;
            column-gap: 2.34%;
    padding-left: 0;
  }
  .products-with-arrows .left-arrow-button,
  .products-with-arrows .right-arrow-button {
    opacity: 0;
  }
  .products-with-arrows:hover .left-arrow-button,
  .products-with-arrows:hover .right-arrow-button {
    opacity: 1;
  }
}

.products-without-arrows {
  width: 100%;
  overflow: auto;
}

@media (min-width: 900px) {
  .products-without-arrows {
    padding-bottom: 3rem;
  }
}

.full-product-card {
  margin-right: 4%;
  cursor: pointer;
}

.full-product-card:last-child {
  padding-right: 8%;
  margin-right: 0;
}

@media (min-width: 900px) {
  .full-product-card:last-child {
    padding-right: 0;
  }
}

.product-card-link {
  text-decoration: none;
}

.product-bg {
  width: 15.625rem;
  height: 16.26rem;
  background-color: #eae4e2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.product-bg:hover {
  background-color: #d7ccc8;
}

@media (min-width: 900px) {
  .product-bg {
    width: 20rem;
    height: 20.813rem;
  }
}

.product-image {
  max-height: 80%;
  max-width: 80%;
}

.product-name,
.product-price {
  text-align: center;
}

@media (min-width: 900px) {
  .product-name,
  .product-price {
    font-size: 1.1rem;
  }
}

.product-name {
  margin-top: 0.928rem;
}

.product-price {
  margin-top: 0.625rem;
  color: #826b64;
}

.left-arrow-button,
.right-arrow-button {
  height: 6.5rem;
  width: 5rem;
  background-color: #d7ccc8;
  border: 0;
  cursor: pointer;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-arrow-button:hover,
.right-arrow-button:hover {
  background-color: #332d29;
}

.left-arrow-button-icon *,
.right-arrow-button-icon * {
  stroke: #826b64;
}

/** Product Card Ends **/
/** Footer Begins **/
.footer {
  background-color: #eae4e2;
  text-align: center;
}

@media (min-width: 900px) {
  .footer {
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-newsletter-and-links {
  padding: 0 15%;
  padding-top: 5rem;
}

@media (min-width: 900px) {
  .footer-newsletter-and-links {
    padding: 7.5em 0 7.5em 3.125%;
    width: 70%;
  }
}

@media (min-width: 900px) {
  .footer-newsletter-nudge {
    width: 39rem;
  }
}

.footer-newsletter-nudge .heading-level-3 {
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 109.5%;
}

@media (min-width: 900px) {
  .footer-newsletter-nudge .heading-level-3 {
    font-size: 1.831rem;
  }
}

.footer-newsletter-nudge .paragraph {
  opacity: 0.7;
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: 176.5%;
}

@media (min-width: 900px) {
  .footer-newsletter-nudge .paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 900px) {
  .subscribe-input-button-container.display-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.footer-subscribe-input,
.footer-subscribe-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 900px) {
  .footer-subscribe-input,
  .footer-subscribe-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 900px) {
  .footer-subscribe-input {
    width: 60%;
    text-align: left;
  }
}

.footer-subscribe-button {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .footer-subscribe-button {
    margin: 0;
    width: 35%;
  }
}

.footer-links-container {
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

@media (min-width: 900px) {
  .footer-links-container {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin-bottom: 0;
    margin-top: 7.5rem;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
}

.footer-links-group li {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

@media (min-width: 900px) {
  .footer-links-group li {
    margin-bottom: 0.938rem;
  }
}

.footer-links-group li:last-child {
  margin-bottom: 0;
}

.footer-link-heading,
.footer-link,
.social-link {
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style-type: none;
  text-decoration: none;
}

.footer-link-heading {
  opacity: 0.5;
  font-size: 1.1rem;
}

@media (min-width: 900px) {
  .footer-link-heading {
    font-size: 1.375rem;
  }
}

.footer-link {
  font-size: 0.95rem;
}

@media (min-width: 900px) {
  .footer-link {
    font-size: 1.125rem;
  }
}

.social-links-container {
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.social-svg {
  height: 1.7rem;
}

.social-link {
  margin-right: 0.4em;
}

.social-link:last-child {
  margin-right: 0;
}

.footer-site-credits {
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

@media (min-width: 900px) {
  .footer-site-credits {
    width: 40%;
    -ms-grid-columns: 90% 7% 3%;
        grid-template-columns: 90% 7% 3%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.footer-site-credits-no-decor {
  padding: 3.438rem 4%;
  background-color: #d7ccc8;
  color: #faf7f6;
}

@media (min-width: 900px) {
  .footer-site-credits-no-decor {
    padding: 0;
    padding-bottom: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer-logo-icon {
  height: 3.125rem;
  width: 3.125rem;
}

@media (min-width: 900px) {
  .footer-logo-icon {
    height: 4.375rem;
    width: 4.375rem;
  }
}

.footer-credit-text {
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #faf7f6;
  font-size: 0.85rem;
  line-height: 185%;
}

@media (min-width: 900px) {
  .footer-credit-text {
    font-size: 1rem;
  }
}

.footer-credit-1 {
  margin-top: 1.563rem;
}

.footer-credit-4 {
  display: block;
}

.footer-decor-div-1 {
  height: 2.188rem;
  background-color: #826b64;
  opacity: 0.6;
}

@media (min-width: 900px) {
  .footer-decor-div-1 {
    height: 100%;
  }
}

.footer-decor-div-2 {
  height: 0.938rem;
  background-color: #826b64;
}

@media (min-width: 900px) {
  .footer-decor-div-2 {
    height: 100%;
  }
}

/** Footer Ends **/
/*! 6 - Modules End**/
/*! 7 - Page Specifics Begin**/
/** Landing Page Begins **/
.hero {
  background-color: #d7ccc8;
}

.hero-text {
  height: 22rem;
  background-color: #d7ccc8;
}

.hero-text .regular-button {
  margin-top: 2.5rem;
}

@media (min-width: 900px) {
  .hero-text .regular-button {
    margin-top: 3.125rem;
  }
}

.home-main-text {
  width: 280px;
}

@media (min-width: 900px) {
  .home-main-text {
    width: 388px;
  }
}

@media (min-width: 900px) {
  .home-main-text .home-main-text-s {
    font-size: 1.35rem;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .home-main-text .home-main-text-s {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }
}

@media (min-width: 900px) {
  .home-main-text .home-main-text-l {
    font-size: 2.95rem;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .home-main-text .home-main-text-l {
    font-size: 2.55rem;
  }
}

.hero-image {
  width: 100%;
}

.scroll-and-story-nudge {
  background-color: #ddd4d0;
  position: relative;
}

.scroll-nudge {
  position: absolute;
  right: 2.5rem;
  top: 1.25rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.scroll-text {
  font-size: 1.1rem;
  margin-bottom: 0.688rem;
}

.story-nudge {
  padding: 4.813rem 0;
  background-color: #eae4e2;
  border-bottom: 1px solid #ddd4d0;
}

@media (min-width: 900px) {
  .story-nudge {
    padding: 6.5rem 0;
  }
}

.story-nudge-text {
  line-height: 188%;
  font-size: 0.95rem;
  padding: 0 9.1%;
}

@media (min-width: 900px) {
  .story-nudge-text {
    font-size: 1.25rem;
    padding: 0 14.8%;
  }
}

.story-nudge-button {
  margin-top: 1.563rem;
}

@media (min-width: 900px) {
  .story-nudge-button {
    margin-top: 2.375rem;
    font-size: 1rem;
  }
}

.popular-products-section {
  background-color: #eae4e2;
  padding: 5.313rem 0;
}

@media (min-width: 900px) {
  .popular-products-section {
    padding: 5.6rem 0;
  }
}

.popular-today-heading {
  margin-bottom: 1.875rem;
}

@media (min-width: 900px) {
  .popular-today-heading {
    margin-bottom: 2.938rem;
  }
}

.see-all-button {
  margin-top: 3.125rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 900px) {
  .see-all-button {
    margin-top: 4rem;
  }
}

.discover-categories-section {
  width: 100%;
  background-color: #ddd4d0;
  padding: 7rem 0;
}

.discover-categories-heading {
  width: 12.75rem;
  margin: auto;
}

@media (min-width: 900px) {
  .discover-categories-heading {
    width: 35.5rem;
  }
}

.discover-categories-heading .paragraph {
  margin-bottom: 0.625rem;
  letter-spacing: normal;
}

.discover-categories-heading .heading-level2-big {
  font-size: 1.8rem;
}

@media (min-width: 900px) {
  .discover-categories-heading .heading-level2-big {
    font-size: 2.625rem;
  }
}

.category-details-container {
  margin: auto 13.333%;
}

@media (min-width: 900px) {
  .category-details-container {
    margin: 0 3.125%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .category-details-container > div {
    padding-top: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-product-category {
  margin-top: 4rem;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 900px) {
  .home-product-category {
    margin-top: 0;
  }
}

.category-title {
  font-size: 1.5rem;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.3rem;
}

.category-image-wrapper {
  display: inline-block;
  overflow: hidden;
}

.category-image {
  width: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.category-image:hover {
  -webkit-transform: scale(1.039);
          transform: scale(1.039);
  cursor: url("images/click-to-shop-cursor.png"), pointer;
}

.category-cta {
  margin-top: 1rem;
}

.category-cta.multidimensional-category-cta {
  display: block;
}

@media (min-width: 900px) {
  .category-cta-text.link-arrow-button-text {
    font-size: 1.2rem;
  }
}

/** multidimensional arrow is not flexed. following transform is used to position it **/
.multidimensional-category-arrow {
  -webkit-transform: translateY(3.5px);
          transform: translateY(3.5px);
  z-index: 1;
}

.category-description {
  margin-top: 0.8rem;
  color: #5d5956;
  line-height: 176.5%;
  font-size: 0.8rem;
}

@media (min-width: 900px) {
  .category-description {
    font-size: 1.1rem;
    color: #826b64;
  }
}

@media (min-width: 900px) {
  .category-cta,
  .category-image,
  .category-description {
    width: 37vw;
  }
}

.bespoke-section-header.dark-bg-header {
  background-color: #332d29;
  padding: 4.25rem 15%;
}

.bespoke-section-header.dark-bg-header .bespoke-section-header-text,
.bespoke-section-header.dark-bg-header .bespoke-section-header-description {
  color: #eae4e2;
}

@media (min-width: 900px) {
  .bespoke-section-header.dark-bg-header {
    padding: 2.4rem 4.5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.bespoke-section-header-text {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  line-height: 160%;
}

@media (min-width: 900px) {
  .bespoke-section-header-text {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.bespoke-section-header-description {
  line-height: 160%;
}

@media (min-width: 900px) {
  .bespoke-section-header-description {
    line-height: 149%;
    font-size: 1.35rem;
  }
}

.home-bespoke-half {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

@media (min-width: 900px) {
  .home-bespoke-half {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.home-bespoke-text.full-width {
  padding: 4rem 15%;
  background-color: #faf7f6;
}

@media (min-width: 900px) {
  .home-bespoke-text.full-width {
    padding: 4rem 15%;
    width: 100%;
  }
}

.home-bespoke-text.full-width .bespoke-product-heading-big,
.home-bespoke-text.full-width .paragraph {
  font-weight: normal;
}

.home-bespoke-text.full-width .paragraph {
  font-size: 0.875rem;
  opacity: 0.7;
}

@media (min-width: 900px) {
  .home-bespoke-text.full-width .paragraph {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
}

.home-staircases-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (min-width: 900px) {
  .home-staircases-text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: right;
  }
  .home-staircases-text .bespoke-button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.bespoke-product-heading {
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bespoke-product-heading-big {
  display: block;
  margin-bottom: 0.5rem;
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 900px) {
  .bespoke-product-heading-big {
    font-size: 1.77rem;
    margin-bottom: 1.25rem;
  }
}

.home-staircases-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.home-bespoke-image.full-width {
  width: 100%;
}

.bespoke-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.9rem;
}

@media (min-width: 900px) and (min-width: 900px) {
  .bespoke-button {
    margin-top: 2.938em;
  }
}

.home-review-quote-section {
  background-color: #ab5033;
  padding: 4.688rem 15%;
}

@media (min-width: 900px) {
  .home-review-quote-section {
    padding: 8rem 10%;
  }
}

.home-review-quote,
.home-review-person {
  color: #faf7f6;
}

.home-review-quote {
  font-size: 1.25rem;
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  line-height: 156%;
  margin-bottom: 2.25rem;
  display: block;
}

@media (min-width: 900px) {
  .home-review-quote {
    font-size: 2.25rem;
    line-height: 163%;
    margin-bottom: 5rem;
  }
}

.home-review-person {
  font-family: Syne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  .home-review-person {
    font-size: 1.375rem;
  }
}

.home-services-section {
  background-color: #ddd4d0;
}

@media (min-width: 900px) {
  .home-services-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10rem 0;
  }
}

.home-services-header {
  padding: 6.125rem 13.6% 6.125rem;
}

@media (min-width: 900px) {
  .home-services-header {
    padding: 6.125rem 8% 6.125rem;
    padding-left: 3.5%;
    /** extra padding added to bottom to make it match services container**/
    padding-bottom: 8rem;
  }
}

.home-services-header .paragraph {
  font-weight: normal;
  letter-spacing: normal;
  line-height: 176.5%;
  opacity: 0.7;
  margin: 0.6rem 0 1.5rem;
}

@media (min-width: 900px) {
  .home-services-header .paragraph {
    margin: 0.6rem 0 3rem;
  }
}

.home-services-header .heading-level2-big {
  font-size: 1.8rem;
}

@media (min-width: 900px) {
  .home-services-header .heading-level2-big {
    font-size: 2.625rem;
  }
}

.home-services-header .regular-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services-cards-with-arrows {
  padding-left: 8%;
  width: 100%;
  /** extra padding added to bottom to push scrollbar down**/
  padding-bottom: 6.125rem;
}

@media (min-width: 900px) {
  .services-cards-with-arrows {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services-cards-with-arrows .arrow-button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background-color: #ddd4d0;
  border: solid 1px #d7ccc8;
  opacity: 0;
}

.services-cards-with-arrows .arrow-button:hover {
  background-color: #332d29;
  border: 0;
}

.services-cards-with-arrows .arrow-button.left-arrow-button {
  margin-left: 10px;
}

.services-cards-with-arrows .arrow-button.right-arrow-button {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 10px;
}

.services-cards-with-arrows:hover .arrow-button {
  opacity: 1;
}

.services-cards-container {
  width: 100%;
  overflow: auto;
}

@media (min-width: 900px) {
  .services-cards-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-bottom: 1.875rem;
  }
}

.home-service-card {
  margin-right: 1.5rem;
}

.home-service-card:last-child {
  padding-right: 8%;
}

@media (min-width: 900px) {
  .home-service-card {
    margin-right: 3.75rem;
  }
}

.service-title {
  font-family: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .service-title {
    font-size: 1.6rem;
    font-size: 1.5rem;
  }
}

.service-image {
  width: 15rem;
}

@media (min-width: 900px) {
  .service-image {
    width: 29rem;
  }
}

.service-description {
  font-size: 0.75rem;
  line-height: 176.5%;
  margin-top: 0.813rem;
}

@media (min-width: 900px) {
  .service-description {
    font-size: 1.05rem;
  }
}

.home-projects-nudge-image {
  width: 100%;
}

.home-projects-nudge-text {
  line-height: 109.5%;
  font-size: 1.5rem;
  padding: 6.25rem 15%;
  background-color: #332d29;
}

@media (min-width: 900px) {
  .home-projects-nudge-text {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10%;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .home-projects-nudge-text {
    padding: 0 7%;
  }
}

.home-projects-nudge-text .heading-level2-big,
.home-projects-nudge-text .paragraph {
  color: #eae4e2;
}

.home-projects-nudge-text .heading-level2-big {
  margin-bottom: 1.25rem;
  line-height: 109.5%;
}

@media (min-width: 900px) {
  .home-projects-nudge-text .heading-level2-big {
    font-size: 2.23rem;
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 900px) and (max-width: 1154px) {
  .home-projects-nudge-text .heading-level2-big {
    font-size: 2rem;
  }
}

.home-projects-nudge-text .paragraph {
  letter-spacing: normal;
  font-size: 0.938rem;
  line-height: 176.5%;
  margin-bottom: 3.125rem;
}

@media (min-width: 900px) {
  .home-projects-nudge-text .paragraph {
    font-size: 1.125rem;
    margin-bottom: 5.5rem;
  }
}

/** Landing Page Ends**/
/** Our Story Page Begins **/
.transparent-bg {
  background-color: transparent;
}

@media (min-width: 900px) {
  .our-story-header {
    background-color: transparent;
    border-bottom: 0;
  }
}

.our-story-hero {
  position: relative;
}

.our-story-hero-text {
  position: absolute;
  color: #eae4e2;
  width: 100%;
  padding: 0 10%;
}

@media (max-width: 480px) {
  .our-story-hero-text {
    font-size: 1.75rem;
  }
}

@media (max-width: 899px) {
  .our-story-hero-text {
    bottom: 20%;
  }
}

@media (min-width: 900px) {
  .our-story-hero-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.mission-text-container {
  background-color: #ddd4d0;
  padding: 3.5rem 15%;
  margin: 4rem 0rem;
  line-height: 188%;
}

@media (min-width: 900px) {
  .mission-text-container {
    padding: 5.25rem 15%;
    margin: 8.75rem 0rem;
  }
}

.mission-text-container .center-align-text {
  margin: auto;
}

@media (min-width: 600px) {
  .mission-text-container .center-align-text {
    max-width: 70%;
  }
}

.mission-text-container .heading-level-small {
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .mission-text-container .heading-level-small {
    margin-bottom: 1.625rem;
  }
}

@media (min-width: 900px) {
  .mission-history-facilities-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .our-story-scatter-columns-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-flex: 50%;
        -ms-flex: 50% 50%;
            flex: 50% 50%;
  }
}

.our-story-scatter-column {
  padding: 0 10%;
}

@media (min-width: 900px) {
  .our-story-scatter-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
}

.our-story-scatter-column .our-story-scatter-img {
  display: block;
  margin: 3.5rem auto;
  width: 100%;
}

@media (min-width: 900px) {
  .our-story-scatter-column .our-story-scatter-img {
    margin: 7rem auto;
  }
}

@media (min-width: 900px) {
  .our-story-scatter-column .our-story-scatter-img.left-column-scatter-img {
    margin: 8rem auto;
  }
}

.our-story-scatter-column .our-story-scatter-img.desktop-only {
  display: none;
}

@media (min-width: 900px) {
  .our-story-scatter-column .our-story-scatter-img.desktop-only {
    display: block;
  }
}

.facilities-history-heading {
  margin-bottom: 1rem;
}

.image-break-wood-stack {
  margin: 3.5rem 0;
}

@media (min-width: 900px) {
  .image-break-wood-stack {
    margin: 8rem 0 6rem;
  }
}

.why-wood-mills {
  position: relative;
  overflow: hidden;
}

@media (min-width: 900px) {
  .why-wood-mills {
    padding: 0 14.45%;
  }
}

@media (min-width: 900px) {
  .our-story-blob {
    display: none;
  }
}

.blob-1 {
  top: 0;
  left: 0;
}

.blob-2 {
  bottom: 0;
  right: 0;
}

.why-wood-mills-subgroup {
  margin: 5.5rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 900px) {
  .why-wood-mills-subgroup {
    margin: 11.25rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .why-wood-mills-subgroup:first-of-type {
    margin-top: 6rem;
  }
  .why-wood-mills-subgroup.facilities-subgroup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.why-wood-mills-illustration {
  display: block;
}

.why-wood-mills-illustration.manufacturers-illustration {
  width: 90px;
  height: 70px;
}

@media (min-width: 900px) {
  .why-wood-mills-illustration.manufacturers-illustration {
    width: 202px;
    height: 149.83px;
  }
}

.why-wood-mills-illustration.facilities-ilustration {
  width: 100px;
  height: 60px;
}

@media (min-width: 900px) {
  .why-wood-mills-illustration.facilities-ilustration {
    width: 230px;
    height: 118.91px;
  }
}

.why-wood-mills-illustration.timber-illustration {
  width: 140px;
  height: 55px;
}

@media (min-width: 900px) {
  .why-wood-mills-illustration.timber-illustration {
    width: 299.95px;
    height: 88.98px;
  }
}

.why-wood-mills-group-text {
  padding: 1.6rem 15% 0;
}

@media (min-width: 900px) {
  .why-wood-mills-group-text {
    padding: 0;
    width: 60%;
  }
}

.why-wood-mills-group-text .heading-level-small {
  margin-bottom: 0.5rem;
}

@media (min-width: 900px) {
  .why-wood-mills-group-text .heading-level-small {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .why-wood-mills-group-text .why-wood-mills-paragraph {
    font-size: 1.25rem;
  }
}

.custom-products-nudge {
  position: relative;
}

.custom-products-image {
  display: block;
}

.custom-products-nudge-text {
  padding: 0 15%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 900px) {
  .custom-products-nudge-text {
    margin: auto;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .custom-products-nudge-heading {
    font-size: 1.75rem;
  }
}

.custom-products-nudge-paragraph {
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

@media (min-width: 900px) {
  .custom-products-nudge-paragraph {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    margin-top: 1rem;
    max-width: 33.438rem;
  }
}

/** Our Story Page Ends  **/
/*! 7 - Page Specifics End**/
/*# sourceMappingURL=style.css.map */