@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: bold;
  src: local("Syne-Bold"),
    url("fonts/Syne-Bold.woff2") format("woff2") /* will be preloaded */,
    url("fonts/Syne-Bold.woff") format("woff"),
    url("fonts/Syne-Bold.ttf") format("truetype"),
    url("fonts/Syne-Bold.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "Basier";
  font-style: normal;
  font-weight: 400;
  src: local("basiersquare-regular-webfont"),
    url("fonts/basiersquare-regular-webfont.woff2") format("woff2")
      /* will be preloaded */,
    url("fonts/basiersquare-regular-webfont.woff") format("woff"),
    url("fonts/basiersquare-regular-webfont.ttf") format("truetype"),
    url("fonts/basiersquare-regular-webfont.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "SpGroSemi";
  font-style: normal;
  font-weight: 600;
  src: local("SpaceGrotesk-SemiBold"),
    url("fonts/SpaceGrotesk-SemiBold.woff2") format("woff2")
      /* will be preloaded */,
    url("fonts/SpaceGrotesk-SemiBold.woff") format("woff"),
    url("fonts/SpaceGrotesk-SemiBold.ttf") format("truetype"),
    url("fonts/SpaceGrotesk-SemiBold.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "SpGroReg";
  font-style: normal;
  font-weight: 400;
  src: local("SpaceGrotesk-Regular"),
    url("fonts/SpaceGrotesk-Regular.woff2") format("woff2")
      /* will be preloaded */,
    url("fonts/SpaceGrotesk-Regular.woff") format("woff"),
    url("fonts/SpaceGrotesk-Regular.ttf") format("truetype"),
    url("fonts/SpaceGrotesk-Regular.eot") format("embedded-opentype");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

/**
**TABLE OF CONTENTS**
1-Variables
2-Normalize
2b-Media Query Breakpoints
3-Element Defaults & Hidden Defaults
4-Layouts & Alignment
5-Typography
6-Modules
7-Page Specifics
**/

/*! 1 - Variables Begin**/
$dark1: #2d2824;
$dark1: #332d29;
$dark2: #211d1a;
$dark3: #5d5956;

$light1: #faf7f6;
$light2: #f6f2f0;
// $light2: lighten($light2a, 4%);
$light3: #eae4e2;
// $light3: lighten($light3a, 4%);
$light4: #ddd4d0;
// $light4: lighten($light4a, 4%);
$light5: #d7ccc8;
// $light5: lighten($light5a, 6%);

$medium1: #826b64;
$medium2: #55372e;

$accent-old: #ab5033;
$accent: #ab4133;
// $accent: #ab3333;

$whatsapp: rgba(37, 211, 102, 0.7);
$facebook: linear-gradient(
  90deg,
  rgba(0, 163, 255, 0.7) 0%,
  rgba(0, 147, 254, 0.7) 47.92%,
  rgba(2, 136, 255, 0.7) 100%
);
$instagram: linear-gradient(
  90deg,
  rgba(252, 155, 24, 0.7) 0%,
  rgba(245, 12, 2, 0.7) 47.92%,
  rgba(204, 0, 121, 0.7) 100%
);

$main: Basier, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading: "SpGroSemi", Syne, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$serif: "Baskervville", "Palatino Linotype", Palatino, Palladio,
  "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style",
  "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond",
  "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook",
  "Century Schoolbook L", Georgia, serif;

$left-right-padding-mobile: 15%;
$left-right-header-footer-padding-mobile: 4%;
$left-right-header-footer-padding-desktop: 3.125%;
/*! 1 - Variables End**/

/*! 2 - Normalize Begins**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark1;
}
/*! 2 - Normalize Ends**/

/*! 2b - Media Query Breakpoints Begin**/
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 899px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin for-tablet-potrait-screens {
  @media (min-width: 650px) and (max-width: 899px) {
    @content;
  }
}

@mixin for-intermediate-screens {
  @media (min-width: 900px) and (max-width: 1154px) {
    @content;
  }
}
/*! 2b - Media Query Breakpoints End Defaults Begin**/

/*! 3 - Defaults Begin**/
html {
  background-color: $light3;

  @include for-tablet-landscape-down {
    font-size: 105%;
  }

  @include for-tablet-potrait-screens {
    font-size: 120%;
  }

  @include for-intermediate-screens {
    font-size: 86%;
  }
}

a:hover {
  @include for-desktop-up {
    color: $accent;
  }
}

/** Defualt scrollbar styling **/
.body-wrap {
  * {
    //* scrollbar styling begins
    ::-webkit-scrollbar {
      height: 3px;
      width: 10px;
      background-color: $light1;
    }

    ::-webkit-scrollbar-track {
      background-color: $light1;
    }

    ::-webkit-scrollbar-thumb {
      background-color: lighten($medium1, 30%);
    }
    //* scrollbar styling ends
  }
}

.hide-by-default,
.hide {
  display: none;
}

.mobile-only {
  @include for-tablet-landscape-up {
    display: none;
  }
}

.desktop-only {
  @include for-tablet-landscape-down {
    display: none;
  }
}

// .push-below-header {
//   margin-top: 4.75rem;

//   @include for-tablet-landscape-up {
//     margin-top: 5.149rem;
//   }

//   @include for-intermediate-screens {
//     margin-top: 5.2rem;
//   }
// }

.transparent-bg {
  background-color: transparent;
}

.full-width {
  width: 100%;
}

.underline {
  text-decoration: underline;
}
/*! 3 - Defaults End**/

/*! 4 - Layout & Alignment Begins**/
.display-flex {
  display: flex;

  &.flex-column {
    flex-direction: column;
  }
}

.display-grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-half-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include for-tablet-landscape-up {
    flex-direction: row;

    & > .first-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }

    & > .second-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }
  }
}

.quad-grid-layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;

  @include for-tablet-landscape-up {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.vertically-center-content {
  display: flex;
  align-items: center;

  &.flex-column {
    flex-direction: column;
  }
}

.horizontally-center-content {
  display: flex;
  justify-content: center;

  &.flex-column {
    flex-direction: column;
  }
}

.center-align-text {
  text-align: center;
}
/*! 4 - Layout & Alignment Ends**/

/*! 5 - Typography Begins**/
.heading-giant {
  font-family: $serif;
  font-weight: normal;
  text-align: center;
  font-size: 5.375rem;
  letter-spacing: -0.05em;
  line-height: 96.3%;

  @include for-tablet-landscape-up {
    font-size: 10rem;
  }
}

.giant-subheading {
  font-family: $heading;
  font-weight: 600;
  font-size: 1.05rem;

  @include for-tablet-landscape-up {
    font-size: 1.5rem;
  }
}

.heading-level-1 {
  font-size: 2.55rem;
  font-family: $heading;
  font-weight: 600;
  text-transform: uppercase;
  // letter-spacing: -0.025em;
  line-height: 109.5%;

  @include for-tablet-landscape-up {
    font-size: 2.95rem;
  }

  @include for-intermediate-screens {
    font-size: 2.95rem;
  }

  .home-main-text-s {
    font-size: 1rem;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: normal;
    display: block;
  }
}

.heading-level-2 {
  font-size: 1.5rem;
  font-family: $heading;
  font-weight: 600;
  // letter-spacing: -0.025em;
  text-transform: uppercase;

  @include for-tablet-landscape-up {
    font-size: 2.2625rem;
  }

  .heading-level2-big {
    display: block;
  }

  .paragraph {
    display: block;
    font-weight: normal;
  }
}

.heading-level-small {
  font-size: 1.1rem;
  font-family: $heading;
  font-weight: 600;
  // letter-spacing: -0.025em;
  text-transform: uppercase;

  @include for-tablet-landscape-up {
    font-size: 1.875rem;
  }
}

p,
.paragraph {
  font-size: 0.95rem;
  font-family: $main;
  text-transform: none;
  line-height: 188%;

  @include for-tablet-landscape-up {
    font-size: 1.1rem;
  }
}
/*! 5 - Typography Ends**/

/*! 6 - Modules Begin**/
/** Small Modules**/
.regular-button {
  font-size: 0.877rem;
  font-family: $main;
  text-transform: capitalize;
  text-decoration: none;
  color: $light2;
  background-color: $dark1;
  padding: 1.05rem 1.55rem;
  transition: all ease 0.3s;

  &:hover {
    cursor: pointer;
    color: $light2;
    background-color: lighten($dark1, 8%);
  }

  &.orange-regular-button {
    background-color: lighten($accent, 8%);
    background-color: $accent;

    &:hover {
      background-color: $accent;
      background-color: lighten($accent, 5%);
    }
  }

  &.main-hero-button {
    background-color: $accent-old;

    &:hover {
      background-color: lighten($accent-old, 5%);
      background-color: $accent;
    }
  }

  &.light-regular-button {
    background-color: $light2;
    color: $dark1;

    &:hover {
      background-color: darken($light2, 10%);
    }
  }

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
  }
}

.regular-input {
  font-size: 0.877rem;
  font-family: $main;
  padding: 1.05rem 1.55rem;
  background-color: $light1;
  border: 0;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
    padding: 1.3rem 2.3rem;
    padding-left: 1.5rem;
  }
}

.link-button {
  font-family: $heading;
  font-weight: 600;
  font-size: 0.9rem;
  color: $accent;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid $accent;
  padding-bottom: 0.313rem;
  transition: letter-spacing 0.3s ease;

  &:hover {
    letter-spacing: 0.1em;
  }

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
  }
}

.link-arrow-button {
  text-decoration: none;
  .link-arrow-button-text {
    font-size: 1rem;
    margin-right: 0.625rem;
    text-transform: capitalize;

    &.syne {
      font-family: $heading;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .link-arrow-button-icon {
    height: 1.063rem;
    width: 1.063rem;

    path {
      stroke: $dark1;
      stroke-width: 5;
    }
  }
}

.blob {
  position: absolute;
  width: 80vw;
  animation: blobAnimation 40s linear infinite alternate;
}

@keyframes blobAnimation {
  0% {
    width: 150vw;
  }

  50% {
    width: 70vw;
  }

  100% {
    width: 150vw;
  }
}

/** Large Modules**/
/** Header Begins **/
.header {
  padding: 1.5rem $left-right-header-footer-padding-mobile;
  padding-left: 0;
  justify-content: space-between;
  background-color: $light3;
  position: fixed;
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $light5;

  /** Resets transparency setting **/
  &.tranparent-header {
    background-color: transparent;
    border: 0;
  }

  @include for-tablet-landscape-up {
    padding: 1.7rem $left-right-header-footer-padding-desktop;
  }
}

.header-banner-container {
  // position: fixed;
  width: 100%;
  top: 0;
  background-color: $dark1;
  text-align: center;
  display: none;

  // @include for-tablet-landscape-down {
  //   display: none;
  // }
}

.header-banner-message {
  color: $light2;
  font-size: 0.75rem;
  padding: 0.938rem 0;
  font-family: $heading;
  letter-spacing: 0.3px;

  @include for-tablet-landscape-up {
    font-size: 0.85rem;
    padding: 0.5rem 0;
  }
}

.mobile-nav {
  position: relative;

  &.mobile-only {
    @include for-tablet-landscape-up {
      display: none;
    }
  }
}

.mobile-nav-check {
  display: block;
  z-index: 10;
  opacity: 0;

  //! Toggle disappears fix with JS
  /*! Toggle disappears fix with JS **/
  /** toggle fixed as header is fixed anyway **/
  position: absolute;
  /** Stops position fixed item from disappearing **/
  transform: translateZ(0);
  left: 0;
  /** hamburger made very large for easy clicking **/
  height: 4rem;
  width: 4rem;
}

.mobile-nav-icon-svg {
  position: absolute;
  margin-left: 4vw;
}

.mobile-nav-lists-container {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: $light3;
  border-top: 1px solid $light5;
  width: 100%;
  text-align: center;
  z-index: 10;

  /**height of header used to push menu down**/
  margin-top: 4.5rem;

  @include for-tablet-potrait-screens {
    margin-top: 4.2rem;
  }
}

/** Additional div wrapper added to make fixed parent scrollable **/
.mobile-nav-list-innerwrapper {
  overflow-y: auto;
  height: 100%;
}

/** Dynamic behaviour of hamburger **/
.mobile-nav-check:checked ~ .mobile-nav-lists-container {
  display: block;
}

.mobile-nav-check:checked ~ .hamburger-icon {
  display: none;
}

.mobile-nav-check ~ .hamburger-icon {
  display: block;
}

.mobile-nav-check:checked ~ .close-hamburger-icon {
  display: block;
}

.mobile-nav-list {
  padding-top: 2.6rem;
}

.mobile-nav-list-last {
  padding-bottom: 2.6rem;
}

.mobile-nav-footer {
  padding: 1.7rem 0;
  border-top: 1px solid $light5;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 1.7rem;
}

.mobile-nav-list-item,
.mobile-nav-footer-item {
  list-style-position: inside;
  list-style-type: none;
}

.mobile-nav-list-item {
  padding-top: 1.125rem;

  &.heading {
    padding-top: 0;
  }
}

.mobile-nav-item-link,
.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  text-decoration: none;
}

.mobile-nav-item-link {
  font-family: $main;
  font-size: 0.95rem;
}

.mobile-nav-item-link-header {
  font-size: 1.125rem;
}

.mobile-nav-item-link-header,
.mobile-nav-footer-link {
  font-family: $heading;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-nav-footer-link {
  opacity: 0.7;
  font-size: 0.95rem;
}

.logo-text-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-text-svg {
  margin-top: 0.3rem;

  @include for-intermediate-screens {
    width: 11rem;
  }

  @include for-tablet-landscape-down {
    width: 9rem;
  }
}

.cart-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.cart-count {
  padding: 0.04rem 0.313rem;
  border-radius: 50%;
  background-color: $accent;
  color: $light2;
  margin-left: 0.1em;
}

.desktop-nav-list {
  list-style: none;
}

.desktop-nav-list-item {
  margin-right: 1.7rem;

  &.no-margin {
    margin-right: 0;
  }
}

.desktop-nav-link {
  text-decoration: none;
  font-family: $main;
  font-size: 1.1rem;
}

.desktop-right-nav {
  padding-left: 2.5rem;
}
/** Header Ends **/

/** Product Card(s) Begin(s) **/
.products-with-arrows {
  width: 100%;
  padding-left: 8%;

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 2.34%;
    padding-left: 0;

    .left-arrow-button,
    .right-arrow-button {
      opacity: 0;
    }

    &:hover {
      .left-arrow-button,
      .right-arrow-button {
        opacity: 1;
      }
    }
  }
}

.products-without-arrows {
  width: 100%;
  overflow: auto;
  padding-bottom: 1.1rem;

  @include for-tablet-landscape-up {
    padding-bottom: 1.875rem;
  }
}

.full-product-card {
  margin-right: 4%;
  cursor: pointer;

  @include for-tablet-landscape-up {
    margin-right: 2%;
  }

  &:last-child {
    padding-right: 8%;
    margin-right: 0;

    @include for-tablet-landscape-up {
      padding-right: 0;
    }
  }
}

.product-card-link {
  text-decoration: none;
}

.product-bg {
  width: 15.625rem;
  height: 16.26rem;
  background-color: $light3;
  transition: all 1s ease;

  @include for-tablet-landscape-down {
    background-color: lighten($light4, 1%);
  }

  &:hover {
    background-color: $light4;
    background-color: lighten($light4, 1%);
  }

  @include for-tablet-landscape-up {
    width: 20rem;
    height: 20.813rem;
  }
}

.product-image {
  max-height: 80%;
  max-width: 80%;
}

.product-name,
.product-price {
  text-align: center;

  @include for-tablet-landscape-up {
    font-size: 1.1rem;
  }
}

.product-name {
  margin-top: 0.928rem;
}

.product-price {
  margin-top: 0.3rem;
  color: $medium1;
}

.left-arrow-button,
.right-arrow-button {
  height: 6.5rem;
  width: 5rem;
  background-color: $light5;
  border: 0;
  cursor: pointer;
  transform: translateY(-3.75rem);
  transition: all 0.5s ease;
  // visibility: hidden;

  &:hover {
    background-color: $dark1;
  }
}

.left-arrow-button-icon,
.right-arrow-button-icon {
  * {
    stroke: $medium1;
  }
}
/** Product Card Ends **/

/** Custom Product Nudge Begins **/
.custom-products-nudge {
  position: relative;
}

.custom-products-image {
  display: block;
}

.custom-products-nudge-text {
  padding: 0 $left-right-padding-mobile;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include for-tablet-landscape-up {
    margin: auto;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.custom-products-nudge-heading {
  @media (max-width: 480px) {
    font-size: 1.75rem;
  }
}

.custom-products-nudge-paragraph {
  margin-bottom: 3rem;
  margin-top: 0.5rem;

  @include for-tablet-landscape-up {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    margin-top: 1rem;
    max-width: 33.438rem;
  }
}
/** Custom Product Nudge Ends **/

/** Footer Begins **/
.footer {
  background-color: $light3;
  text-align: center;

  @include for-tablet-landscape-up {
    width: 100%;
    text-align: left;
    display: flex;
  }
}

.footer-newsletter-and-links {
  padding: 0 $left-right-padding-mobile;
  padding-top: 5rem;

  @include for-tablet-landscape-up {
    padding: 7.5em 0 7.5em $left-right-header-footer-padding-desktop;
    width: 70%;
  }
}

.footer-newsletter-nudge {
  @include for-tablet-landscape-up {
    width: 39rem;
  }
  .heading-level-3 {
    font-family: $heading;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 109.5%;

    @include for-tablet-landscape-up {
      font-size: 2.2rem;
    }
  }

  .paragraph {
    opacity: 0.7;
    margin: 1rem 0;
    font-size: 0.9rem;
    line-height: 176.5%;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
      width: 96%;
    }
  }
}

.subscribe-input-button-container.display-flex {
  @include for-tablet-landscape-up {
    flex-direction: row;
    width: 100%;
  }
}

.footer-subscribe-input,
.footer-subscribe-button {
  align-self: center;

  @include for-tablet-landscape-up {
    align-self: flex-start;
  }
}

.footer-subscribe-input {
  @include for-tablet-landscape-up {
    width: 60%;
    text-align: left;
  }
}

.footer-subscribe-button {
  margin-top: 1rem;

  @include for-tablet-landscape-up {
    margin: 0;
    width: 35%;
  }
}

.footer-links-container {
  display: flex;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  row-gap: 3rem;
  justify-content: center;
  margin: 5rem 0;

  @include for-tablet-landscape-up {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
    margin-top: 7.5rem;
    justify-content: left;
    column-gap: 4.5rem;
  }
}

.footer-links-group {
  li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 0.8rem;

    @include for-tablet-landscape-up {
      margin-bottom: 0.938rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-link-heading,
.footer-link,
.social-link {
  font-family: $main;
  list-style-type: none;
  text-decoration: none;
}

.footer-link-heading {
  opacity: 0.5;
  font-size: 1.1rem;

  @include for-tablet-landscape-up {
    font-size: 1.375rem;
  }
}

.footer-link {
  font-size: 0.95rem;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
  }
}

.social-links-container {
  transform: translateX(-0.438rem);
}

.social-svg {
  height: 1.7rem;
}

.social-link {
  margin-right: 0.4em;

  &:last-child {
    margin-right: 0;
  }
}

.footer-site-credits {
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;

  @include for-tablet-landscape-up {
    width: 40%;
    grid-template-columns: 90% 7% 3%;
    grid-template-rows: auto;
  }
}

.footer-site-credits-no-decor {
  padding: 3.438rem $left-right-header-footer-padding-mobile;
  background-color: $light5;
  color: $light1;

  @include for-tablet-landscape-up {
    padding: 0;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }
}

.footer-logo-icon {
  height: 3.125rem;
  width: 3.125rem;

  @include for-tablet-landscape-up {
    height: 4.375rem;
    width: 4.375rem;
  }
}

.footer-credit-text {
  font-family: $main;
  color: $light1;
  font-size: 0.85rem;
  line-height: 185%;

  @include for-tablet-landscape-up {
    font-size: 1rem;
  }
}

.footer-credit-1 {
  margin-top: 1.563rem;
}

.footer-credit-4 {
  display: block;
}

.footer-decor-div-1 {
  height: 2.188rem;
  background-color: $medium1;
  opacity: 0.6;

  @include for-tablet-landscape-up {
    height: 100%;
  }
}

.footer-decor-div-2 {
  height: 0.938rem;
  background-color: $medium1;

  @include for-tablet-landscape-up {
    height: 100%;
  }
}
/** Footer Ends **/

/** Giant Text Hero Begins **/
.giant-text-hero {
  padding: 3.8rem 2% 4.5rem;

  @include for-tablet-landscape-up {
    padding: 9rem 2%;
  }
}

.giant-text-hero-large-text {
  @media (max-width: 372px) {
    font-size: 5rem;
  }
}

.giant-text-hero-small-text {
  margin-top: 1.5rem;

  @media (max-width: 372px) {
    font-size: 0.88rem;
  }
}
/** Giant Text Hero Begins **/

/*! 6 - Modules End**/

/*! 7 - Page Specifics Begin**/

/** Landing Page Begins **/
.hero {
  background-color: $light5;

  @include for-tablet-landscape-up {
    flex-direction: row;

    & > .first-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }

    & > .second-half {
      @include for-tablet-landscape-up {
        width: 50%;
      }
    }
  }
}

.hero-text {
  height: 22rem;
  background-color: $light5;
  .regular-button {
    margin-top: 2.5rem;

    @include for-tablet-landscape-up {
      margin-top: 3.125rem;
    }
  }
}

.home-main-text {
  // width: 17.5rem;

  @include for-tablet-landscape-up {
    // width: 24.25rem;
  }

  .home-main-text-s {
    @include for-tablet-landscape-up {
      font-size: 1.35rem;
    }

    @include for-intermediate-screens {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }
  }

  .home-main-text-l {
    @include for-tablet-landscape-up {
      font-size: 3rem;
    }

    @include for-intermediate-screens {
      font-size: 3rem;
    }
  }
}

.hero-image {
  width: 100%;
}

.scroll-and-story-nudge {
  background-color: $light4;
  position: relative;
}

.scroll-nudge {
  position: absolute;
  right: 2.5rem;
  top: 1.25rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.scroll-text {
  font-size: 1.1rem;
  margin-bottom: 0.688rem;
}

.story-nudge {
  padding: 4.813rem 0;
  background-color: $light3;
  border-bottom: 1px solid $light4;

  @include for-tablet-landscape-up {
    padding: 5rem 0;
  }
}

.story-nudge-text {
  line-height: 188%;
  // font-size: 0.98rem;
  padding: 0 9.1%;

  @include for-tablet-landscape-up {
    font-size: 1.25rem;
    padding: 0 14.8%;
  }
}

.story-nudge-button {
  margin-top: 1.563rem;

  @include for-tablet-landscape-up {
    margin-top: 2.375rem;
    font-size: 1rem;
  }
}

.popular-products-section {
  background-color: $light3;
  padding: 5.313rem 0;

  @include for-tablet-landscape-up {
    padding: 5.6rem 0;
  }
}

.popular-today-heading {
  margin-bottom: 1.875rem;

  @include for-tablet-landscape-up {
    margin-bottom: 2.938rem;
  }
}

.see-all-button {
  margin-top: 3.125rem;
  align-self: center;

  @include for-tablet-landscape-up {
    margin-top: 4rem;
  }
}

.discover-categories-section {
  width: 100%;
  background-color: $light5;
  padding: 4.5rem 0;
  border-top: 1px solid $light5;

  @include for-tablet-landscape-up {
    padding: 5rem 0 7rem;
  }
}

.discover-categories-heading {
  width: 12.75rem;
  margin: auto;

  @include for-tablet-landscape-up {
    width: 35.5rem;
  }

  .paragraph {
    margin-bottom: 0.3rem;
    letter-spacing: normal;
    font-family: $heading;
    font-weight: 600;
  }

  .heading-level2-big {
    font-size: 1.8rem;
    line-height: 120%;

    @include for-tablet-landscape-up {
      font-size: 2.625rem;
    }
  }
}

.category-details-container {
  margin: auto 13.333%;

  @include for-tablet-landscape-up {
    margin: 0 $left-right-header-footer-padding-desktop;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    column-gap: 5rem;

    & > div {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.home-product-category {
  margin-top: 4rem;
  display: block;
  text-decoration: none;
  cursor: pointer;

  @include for-tablet-landscape-up {
    margin-top: 0;
  }
}

.category-title {
  font-size: 1.5rem;
  font-family: $main;
  font-family: $heading;
  font-weight: 600;
  font-weight: normal;
  margin-bottom: 1rem;
  align-self: center;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.3rem;
  visibility: hidden;
}

.category-image-wrapper {
  display: inline-block;
  overflow: hidden;
}

.category-image {
  width: 100%;

  transition: all ease 0.5s;

  &:hover {
    transform: scale(1.05);
    cursor: url("images/click-to-shop-cursor.png"), pointer;
    cursor: pointer;
  }
}

.category-cta {
  margin-top: 1rem;

  &.multidimensional-category-cta {
    display: block;
    max-width: 260px;

    @include for-tablet-landscape-up {
      /** Added to prevent separation of arrow from text in multidimensional cta **/
      // width: 27vw;
      // width: 390px;
      width: 70%;
      margin-left: 5.7vw;
      align-self: flex-start;
    }
  }
}

/** hover state of category cta and animates arrow **/
.category-div {
  &:hover {
    // background-color: $light4;

    .category-cta-text {
      color: $accent;
      transition: all ease 0.5s;
    }

    .category-cta-arrow {
      animation: arrowRightAnimation 2s linear infinite alternate;
      path {
        stroke: $accent;
        transition: all ease 0.5s;
      }
    }

    .category-description {
      color: $dark1;
      transition: all ease 0.5s;
    }
  }
}

@keyframes arrowRightAnimation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0px);
  }
}

.category-cta-text.link-arrow-button-text {
  @include for-tablet-landscape-up {
    font-size: 1.4rem;
  }
}

.category-cta-arrow.link-arrow-button-icon {
  @include for-tablet-landscape-up {
    height: 1.438rem;
    width: 1.438rem;
  }
}

/** multidimensional arrow is not flexed. following positioning is used to push it down a bit **/
.multidimensional-category-arrow {
  position: relative;
  top: 0.219rem;
  z-index: 1;

  @include for-tablet-landscape-up {
    position: relative;
    top: 0.34rem;
  }
}

.category-description {
  margin-top: 0.8rem;
  color: $dark1;
  line-height: 176.5%;
  font-size: 0.9rem;

  @include for-tablet-landscape-up {
    font-size: 1.05rem;
    // color: lighten($dark3, 4%);
  }
}

.category-cta,
.category-image,
.category-description {
  @include for-tablet-landscape-up {
    width: 35vw;
  }
}

.bespoke-section-header.dark-bg-header {
  background-color: $dark1;
  padding: 4.25rem $left-right-padding-mobile;

  .bespoke-section-header-text,
  .bespoke-section-header-description {
    color: $light3;
  }

  @include for-tablet-landscape-up {
    padding: 2.4rem 4.5%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.bespoke-section-header-text {
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  line-height: 160%;

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

.bespoke-section-header-description {
  line-height: 160%;

  @include for-tablet-landscape-up {
    line-height: 149%;
    font-size: 1.35rem;
  }
}

.home-bespoke-half {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;

  @include for-tablet-landscape-up {
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
}

.home-bespoke-text.full-width {
  padding: 4rem $left-right-padding-mobile;
  background-color: $light2;

  @include for-tablet-landscape-up {
    padding: 4rem $left-right-padding-mobile;
    width: 100%;
  }

  .bespoke-product-heading-big,
  .paragraph {
    font-weight: normal;
  }

  .paragraph {
    font-size: 0.875rem;
    opacity: 0.7;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
      margin-bottom: 1.25rem;
    }
  }
}

.home-staircases-text {
  grid-row: 2/3;

  @include for-tablet-landscape-up {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: right;

    .bespoke-button {
      align-self: flex-end;
    }
  }
}

.bespoke-product-heading {
  font-family: $heading;
}

.bespoke-product-heading-big {
  display: block;
  margin-bottom: 0.5rem;

  @include for-tablet-landscape-up {
    font-size: 1.77rem;
    margin-bottom: 1.25rem;
  }
}

.home-staircases-image {
  grid-row: 1/2;
}

.home-bespoke-image.full-width {
  width: 100%;
}

.bespoke-button {
  align-self: flex-start;
  margin-top: 1.9rem;

  @include for-tablet-landscape-up {
    @include for-tablet-landscape-up {
      margin-top: 2.938em;
    }
  }
}

.home-review-quote-section {
  background-color: $accent;
  padding: 4.688rem $left-right-padding-mobile;

  @include for-tablet-landscape-up {
    padding: 8rem 10%;
  }
}

.home-review-quote,
.home-review-person {
  color: $light1;
}

.home-review-quote {
  font-size: 1.25rem;
  font-family: $main;
  font-weight: normal;
  line-height: 156%;
  margin-bottom: 2.25rem;
  display: block;

  @include for-tablet-landscape-up {
    font-size: 2.25rem;
    line-height: 163%;
    margin-bottom: 5rem;
  }
}

.home-review-person {
  font-family: $heading;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;

  @include for-tablet-landscape-up {
    font-size: 1.375rem;
  }
}

.home-services-section {
  background-color: $light4;

  @include for-tablet-landscape-up {
    display: flex;
    padding: 10rem 0;
  }
}

.home-services-header {
  padding: 6.125rem 13.6% 6.125rem;

  @include for-tablet-landscape-up {
    padding: 6.125rem 8% 6.125rem;
    padding-left: 3.5%;
    /** extra padding added to bottom to make it match services container**/
    padding-bottom: 8rem;
  }

  .paragraph {
    font-weight: normal;
    letter-spacing: normal;
    line-height: 176.5%;
    opacity: 0.7;
    margin: 0.6rem 0 1.5rem;

    @include for-tablet-landscape-up {
      margin: 0.6rem 0 3rem;
    }
  }

  .heading-level2-big {
    font-size: 1.8rem;

    @include for-tablet-landscape-up {
      font-size: 2.625rem;
    }
  }

  .regular-button {
    align-self: center;
  }
}

.services-cards-with-arrows {
  padding-left: 8%;
  width: 100%;
  /** extra padding added to bottom to push scrollbar down**/
  padding-bottom: 6.125rem;

  @include for-tablet-landscape-up {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
  }

  .arrow-button {
    grid-row: 1/2;
    grid-column: 1/2;
    transform: translateY(-1.875rem);
    background-color: $light4;
    border: solid 1px $light5;
    opacity: 0;

    &:hover {
      background-color: $dark1;
      border: 0;
    }

    &.left-arrow-button {
      margin-left: 0.625rem;
    }

    &.right-arrow-button {
      justify-self: right;
      margin-right: 0.625rem;
    }
  }

  &:hover {
    .arrow-button {
      opacity: 1;
    }
  }
}

.services-cards-container {
  width: 100%;
  overflow: auto;
  padding-bottom: 1.1rem;

  @include for-tablet-landscape-up {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 1.875rem;
  }
}

.home-service-card {
  margin-right: 1.5rem;

  &:last-child {
    padding-right: 8%;
  }

  @include for-tablet-landscape-up {
    margin-right: 3.75rem;
  }
}

.service-title {
  font-family: $main;
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1rem;

  @include for-tablet-landscape-up {
    font-size: 1.6rem;
    font-size: 1.5rem;
  }
}

.service-image {
  width: 15rem;

  @include for-tablet-landscape-up {
    width: 29rem;
  }
}

.service-description {
  font-size: 0.85rem;
  line-height: 176.5%;
  margin-top: 0.813rem;
  text-align: left;

  @include for-tablet-landscape-up {
    font-size: 1.05rem;
  }
}

.home-projects-nudge-image {
  width: 100%;
}

.home-projects-nudge-text {
  line-height: 109.5%;
  font-size: 1.5rem;
  padding: 6.25rem $left-right-padding-mobile;
  background-color: $dark1;
  background-color: $dark1;

  @include for-tablet-landscape-up {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10%;
  }

  @include for-intermediate-screens {
    padding: 0 7%;
  }

  .heading-level2-big,
  .paragraph {
    color: $light3;
  }

  .heading-level2-big {
    margin-bottom: 1.25rem;
    line-height: 109.5%;

    @include for-tablet-landscape-up {
      font-size: 2.23rem;
      margin-bottom: 1.875rem;
    }

    @include for-intermediate-screens {
      font-size: 2rem;
    }
  }

  .paragraph {
    letter-spacing: normal;
    font-size: 0.938rem;
    line-height: 176.5%;
    margin-bottom: 3.125rem;

    @include for-tablet-landscape-up {
      font-size: 1.125rem;
      margin-bottom: 5.5rem;
      // width: 80%;
    }
  }
}
/** Landing Page Ends**/

/** Our Story Page Begins **/
.transparent-bg {
  background-color: transparent;
}

.our-story-hero {
  position: relative;
}

.our-story-hero-text {
  position: absolute;
  color: $light3;
  width: 100%;
  padding: 0 10%;

  @media (max-width: 480px) {
    font-size: 1.75rem;
  }

  @include for-tablet-landscape-down {
    bottom: 20%;
  }

  @include for-tablet-landscape-up {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mission-text-container {
  background-color: $light4;
  padding: 3.5rem $left-right-padding-mobile;
  margin: 4rem 0rem;
  line-height: 188%;

  @include for-tablet-landscape-up {
    padding: 5.25rem $left-right-padding-mobile;
    margin: 8.75rem 0rem;
  }

  .center-align-text {
    margin: auto;

    @include for-tablet-portrait-up {
      max-width: 70%;
    }
  }

  .heading-level-small {
    margin-bottom: 1rem;

    @include for-tablet-landscape-up {
      margin-bottom: 1.625rem;
    }
  }
}

.mission-history-facilities-text {
  @include for-tablet-landscape-up {
    font-size: 1.3rem;
  }
}

.our-story-scatter-columns-container {
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 50% 50%;
    flex: 50% 50%;
  }
}

.our-story-scatter-column {
  padding: 0 10%;

  @include for-tablet-landscape-up {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }

  .our-story-scatter-img {
    display: block;
    margin: 3.5rem auto;
    width: 100%;

    @include for-tablet-landscape-up {
      margin: 7rem auto;
    }

    &.left-column-scatter-img {
      @include for-tablet-landscape-up {
        margin: 8rem auto;
      }
    }

    &.desktop-only {
      display: none;

      @include for-tablet-landscape-up {
        display: block;
      }
    }
  }
}

.facilities-history-heading {
  margin-bottom: 1rem;
}

.image-break-wood-stack {
  margin: 3.5rem 0;

  @include for-tablet-landscape-up {
    margin: 8rem 0 6rem;
  }
}

.why-wood-mills {
  position: relative;
  overflow: hidden;
  padding: 0 5%;

  @include for-tablet-landscape-up {
    padding: 0 14.45%;
  }
}

.our-story-blob {
  display: none;
  @include for-tablet-landscape-up {
    display: none;
  }
}

.blob-1 {
  top: 0;
  left: 0;
}

.blob-2 {
  bottom: 0;
  right: 0;
}

.why-wood-mills-subgroup {
  margin: 5.5rem auto;
  flex-direction: column-reverse;

  @include for-tablet-landscape-up {
    margin: 11.25rem auto;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;

    &:first-of-type {
      margin-top: 6rem;
    }

    &.facilities-subgroup {
      flex-direction: row-reverse;
    }
  }
}

.why-wood-mills-illustration {
  display: block;
  overflow: visible;

  &.manufacturers-illustration {
    width: 5.625rem;
    height: 4.375rem;

    @include for-tablet-landscape-up {
      width: 12.625rem;
      height: 9.364rem;
    }
  }

  &.facilities-ilustration {
    width: 6.25rem;
    height: 3.75rem;

    @include for-tablet-landscape-up {
      width: 14.375rem;
      height: 7.432rem;
    }
  }

  &.timber-illustration {
    width: 8.75rem;
    height: 3.438rem;

    @include for-tablet-landscape-up {
      width: 18.747rem;
      height: 5.561rem;
    }
  }
}

.why-wood-mills-group-text {
  padding: 1.6rem $left-right-padding-mobile 0;

  @include for-tablet-landscape-up {
    padding: 0;
    width: 60%;
  }

  .heading-level-small {
    margin-bottom: 0.5rem;

    @include for-tablet-landscape-up {
      font-size: 1.5rem;
    }
  }

  .why-wood-mills-paragraph {
    @include for-tablet-landscape-up {
      font-size: 1.25rem;
    }
  }
}
/** Our Story Page Ends  **/

/** Our Services Page Begins **/
.our-services-hero {
  @include for-tablet-landscape-down {
    padding: 6rem 2% 7rem;
  }
}

.service-container {
  position: relative;
  padding: 7rem 20%;

  &.service-container-1 {
    background-color: $light2;
  }
  &.service-container-2 {
    background-color: $light3;
  }
  &.service-container-3 {
    background-color: $light4;
  }
  &.service-container-4 {
    background-color: $light5;
    border-bottom: 1px rgba(85, 55, 46, 0.2) solid;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 23% 50%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8rem 10.7% 8rem 18.4%;

    &.flex-column {
      flex-direction: column;
    }
  }
}

.service-number {
  font-size: 2.5rem;
  font-family: $heading;
  font-weight: 600;
  color: $medium2;
  opacity: 0.4;
  position: absolute;
  top: 2.5rem;
  left: 2rem;

  @include for-tablet-landscape-up {
    font-size: 4.5rem;
    top: 0.5rem;
    left: 3rem;
  }
}

.service-heading {
  opacity: 0.75;
  font-size: 1.7rem;

  @media (max-width: 372px) {
    font-size: 1.4rem;
  }

  @include for-tablet-landscape-up {
    font-size: 2.25rem;
    line-height: 109.5%;
  }
}

.service-subheading {
  font-family: $main;
  font-weight: normal;
  font-size: 1.45rem;
  margin: 1rem 0 3rem;

  .underline {
    font-family: $heading;
    font-weight: 600;
    text-decoration: none;
  }

  @media (max-width: 372px) {
    font-size: 1.2rem;
  }

  @include for-tablet-landscape-up {
    font-size: 1.75rem;
    margin: 1.875rem 0 0;
    line-height: 144%;
  }
}

.service-details-container {
  @include for-tablet-landscape-up {
    margin-left: 11.7%;
  }
}

.service-paragraph {
  margin-bottom: 1.4rem;
  font-size: 1rem;

  @include for-tablet-landscape-up {
    font-size: 1.25rem;
    margin-bottom: 1.875rem;
  }
}

.service-link {
  @include for-tablet-landscape-up {
    font-size: 1.125rem;
  }
}
/** Our Services Page Ends **/

/** Contact Us Page Begins **/
.contact-us-main-heading {
  text-align: center;
  padding: 7rem 1rem 6rem;

  @include for-tablet-landscape-up {
    padding: 9rem 1rem;
  }

  .contact-us-heading-serif {
    font-size: 1.7rem;
    font-family: $serif;
    font-weight: normal;
    color: $medium1;
    opacity: 0.5;
    text-transform: capitalize;
    display: block;
    margin-bottom: 0.8rem;

    @include for-tablet-landscape-up {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    @media (max-width: 440px) {
      width: 16rem;
      margin: auto;
      margin-bottom: 0.8rem;
    }
  }

  .contact-us-heading-sans {
    @include for-tablet-landscape-up {
      font-size: 4rem;
    }
  }
}

.contact-us-details {
  width: 100%;
  background-color: #ddd4d0;

  @include for-tablet-landscape-up {
    display: flex;
  }

  .contact-us-picture {
    @include for-tablet-landscape-up {
      width: 35%;

      @media (max-width: 1065px) {
        width: 55%;
      }

      @media (min-width: 1343px) {
        width: 30%;
      }
    }
  }

  .contact-us-image {
    width: 100%;
    display: block;
  }
}

.contact-us-details-text {
  padding: 3rem $left-right-padding-mobile;

  @include for-tablet-landscape-up {
    padding: 0 7rem;
    width: 65.1%;
    justify-self: center;
    align-self: center;

    @media (max-width: 1005px) {
      padding: 0 4rem;
    }

    @media (min-width: 1155px) and (max-width: 1200px) {
      padding: 0 4rem;
    }
  }
}

.contact-us-paragraph {
  @include for-tablet-landscape-up {
    font-size: 1.5rem;
  }
}

.contact-social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-social-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.7rem 0;
  padding: 1rem 12%;
  border-radius: 10px;
  transition: opacity ease 0.5s;
  text-decoration: none;

  @include for-tablet-landscape-up {
    font-size: 1.5rem;
    padding: 0.85rem 7%;
    margin: 1rem 0;
  }

  &:first-of-type {
    margin-top: 1.5rem;

    @include for-tablet-landscape-up {
      margin-top: 2.5rem;
    }
  }

  &:last-of-type {
    margin-bottom: 1.5rem;

    @include for-tablet-landscape-up {
      margin-bottom: 3rem;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.contact-whatsapp-link {
  background-color: $whatsapp;
}

.contact-messenger-link {
  background: $facebook;
}

.contact-instagram-link {
  background: $instagram;
}

.social-link-text {
  color: #ffffff;
  font-family: $main;
  margin-right: 0.5rem;

  .desktop-only {
    color: #ffffff;
  }
}

.social-link-icon {
  @include for-tablet-landscape-down {
    height: 1.563rem;
  }
}

.telephone-email {
  margin: 3rem 0;
}

.email-bit {
  @include for-tablet-landscape-up() {
    margin-bottom: 4rem;
  }
}

.telephone-email-heading {
  font-family: $heading;
  font-weight: 600;
  color: $dark3;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1rem;

  @include for-tablet-landscape-up {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}

.telephone-email-text {
  font-family: $main;
  font-size: 1.2rem;
  line-height: 170%;
  text-decoration: none;

  @include for-tablet-landscape-up {
    font-size: 1.875rem;
  }
}

.project-request-form-nudge {
  padding: 3rem 0 0;
  border-top: 1px rgba(85, 55, 46, 0.3) solid;
}

.project-request-form-nudge-text {
  @include for-tablet-landscape-up {
    font-size: 1.5rem;
  }
}

.addresses {
  @include for-tablet-landscape-up {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.showroom-factory-address {
  padding: 4rem $left-right-padding-mobile;

  @include for-tablet-landscape-up {
    padding: 9.375rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.showroom-address {
  background-color: $accent;
}

.factory-address {
  background-color: $medium2;
}

.showroom-factory-address-title,
.showroom-factory-address-text {
  @include for-tablet-landscape-up {
    width: 23.5rem;
  }
}

.showroom-factory-address-title {
  font-family: $heading;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: $light3;
  font-size: 1.4rem;

  @include for-tablet-landscape-up {
    font-size: 2.25rem;
  }
}

.showroom-factory-address-text {
  color: $light1;
  font-size: 1.2rem;

  @include for-tablet-landscape-up {
    font-size: 1.875rem;
  }

  .display-block {
    color: $light1;
    font-size: 1.2rem;

    @include for-tablet-landscape-up {
      font-size: 1.875rem;
    }
  }
}
/** Contact Us Page Ends **/

/** FAQ Page Begins **/
.faq-giant-text-hero {
  @include for-tablet-landscape-up {
    padding: 7rem 2%;
  }
}

.faqs-contact-us {
  background-color: $accent;
  // background-color: lighten($accent, 8%);
  padding: 1em 2em;
  line-height: 170%;

  @include for-tablet-landscape-up {
    font-size: 1.2rem;
  }
}

.faqs-contact-us-heading,
.faqs-contact-us-link {
  color: $light1;
  font-family: $main;
  text-align: center;
  font-weight: normal;
}

.faqs-contact-us-link:hover {
  color: $dark1;
}

.question-cluster {
  padding: 2rem $left-right-padding-mobile;
  background-color: $light2;

  @include for-tablet-landscape-up {
    padding: 3rem 20%;
  }
}

.about-cluster {
  padding: 6rem $left-right-padding-mobile 2rem;

  @include for-tablet-landscape-up {
    padding: 8rem 20% 3rem;
  }
}

.question-cluster-heading {
  font-size: 2.1rem;
  color: $medium2;
  opacity: 0.3;
  text-align: right;
  margin-bottom: 3rem;

  @include for-tablet-landscape-up {
    font-size: 3.375rem;
  }
}

.question-and-answer {
  margin-bottom: 3rem;
}

.question {
  font-family: $heading;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.05rem;
  margin-bottom: 0.5rem;

  @include for-tablet-landscape-up {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.answer {
  @include for-tablet-landscape-up {
    font-size: 1.15rem;
  }
}
/** FAQ Page Ends **/

/** Stairs and Cabinets Pages Begin **/
.bespoke-page-header {
  background-color: $light1;
  border: 0;
}

.bespoke-page-main {
  background-color: $light2;
}

.bespoke-nudge1,
.bespoke-nudge2 {
  padding: 6rem $left-right-padding-mobile;

  @include for-tablet-landscape-up {
    padding: 7rem $left-right-header-footer-padding-desktop;
  }
}

.bespoke-nudge1 {
  @include for-tablet-landscape-up {
    display: flex;
    align-items: flex-start;
  }
}

.bespoke-nudge-heading1 {
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.bespoke-nudge-text1 {
  margin-top: 2rem;

  @include for-tablet-landscape-up {
    margin: 0;
    width: 50%;
  }
}

.bespoke-nudge-text1-para {
  margin-bottom: 0.5rem;

  @include for-tablet-landscape-up {
    margin-bottom: 1.5rem;
    width: 70%;
    font-size: 1.375rem;
    line-height: 160%;
  }
}

.bespoke-nudge2-image-and-text {
  @include for-tablet-landscape-up {
    display: flex;
    align-items: center;
    padding: 10rem 0;

    &.cabinets-nudge2-image-and-text {
      flex-direction: row-reverse;
    }
  }
}

.bespoke-nudge2 {
  @include for-tablet-landscape-up {
    width: 46.9%;
    padding: 0 10.7%;
  }
}

.bespoke-nudge-heading2 {
  margin-bottom: 1.5rem;
  line-height: 1.9rem;

  @include for-tablet-landscape-up {
    margin-bottom: 1.875rem;
    line-height: 2.625rem;
  }
}

.bespoke-nudge-picture2 {
  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.bespoke-nudge2-paragraph {
  margin-bottom: 2rem;

  @include for-tablet-landscape-up {
    font-size: 1.375rem;
    line-height: 169.3%;
    margin-bottom: 6rem;
  }
}
/** Stairs and Cabinets Pages End **/

/*! 7 - Page Specifics End**/
